@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

td {
  width: auto; /* Die Breite automatisch anpassen */
  white-space: nowrap; /* Verhindert den Zeilenumbruch im Zellinhalt */
}

h2 {
  font-size: 1.5rem; /* Adjust the font size for smaller screens */
}

@media (max-width: 768px) {
  td {
    width: auto; /* Die Breite automatisch anpassen */
    white-space: nowrap; /* Verhindert den Zeilenumbruch im Zellinhalt */
  }

  h2 {
    width: auto; /* Die Breite automatisch anpassen */
    white-space: nowrap;
    font-size: 1.5rem;/* Adjust the font size for smaller screens */
  }
  span {
    width: auto; /* Die Breite automatisch anpassen */
    white-space: nowrap;
    font-size: 0.8rem; /* Adjust the font size for smaller screens */
  }
}

@media (max-width: 600px) {
  td {
    width: auto; /* Die Breite automatisch anpassen */
    white-space: nowrap; /* Verhindert den Zeilenumbruch im Zellinhalt */
  }

  h2 {
    width: auto; /* Die Breite automatisch anpassen */
    white-space: nowrap;
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
  }
  span {
    width: auto; /* Die Breite automatisch anpassen */
    white-space: nowrap;
    font-size: 0.8rem; /* Adjust the font size for smaller screens */
  }
}


@media (max-width: 896px) {
  td {
    width: auto; /* Die Breite automatisch anpassen */
    white-space: nowrap; /* Verhindert den Zeilenumbruch im Zellinhalt */
  }

  h2 {
    width: auto; /* Die Breite automatisch anpassen */
    white-space: nowrap;
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
  }
  span {
    width: auto; /* Die Breite automatisch anpassen */
    white-space: nowrap;
    font-size: 0.8rem; /* Adjust the font size for smaller screens */
  }
}
#planer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  justify-content: center;
}
